 $color:#fff;
 html,body{
   min-height: 100%;
   margin:0!important;
 }
  .container {
      padding: 10px;
      // height: 100%;
      box-sizing: border-box;
      .head {
        text-align: center;
        color:$color;
        font-size: 30px;
        margin-bottom: 50px;
        span {
          font-size: 16px;
        }
        .el-col > .el-col {
          padding: 20px 0;
          border-right: solid 1px $color;
        }
      }
  }
